/* alanbbos.css */

body {
   background: #909193 url(images/linen.png) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   border-bottom: 1px solid black;
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	background-color:#DFDBC3;
	border: 2px solid red; 
	cursor: default;
}

#divMemoryTable {
    border: 2px groove black;
    height: 280px;
    width: 355px;
    overflow: auto;
}

#taMemory
{
    height: 280px;
    width: 355px;
}

#divCPUTable {
    border: 2px groove black;
    height: 100px;
    width: 355px;
    text-align: center;
}

#taCPU
{
    height: 100px;
    width: 355px;
}

#divPCBTable {
    border: 2px groove black;
    height: 100px;
    width: 355px;
    text-align: center;
}

#taPCB
{
    height: 100px;
    width: 355px;
}

#divConsole
{
    margin:4px;
    width:500px;
    height:480px;
    float:left;
}

#divLog
{
    text-align: left;
}

#divUserProgramInput
{
    text-align: left;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
   text-align: center;
}
.hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

